@{
	ViewBag.Title = "صفحه اصلی";
}
<!-- ***** Wellcome Area Start ***** -->
<section class="welcome-area">
	<!-- ***** Wellcome Area Background Start ***** -->
	<div class="welcome-bg" data-bg="/assets/images/photos/welcome.jpg">
		<img src="/assets/images/rtl-bg-bottom.svg" alt="">
	</div>
	<!-- ***** Wellcome Area Background End ***** -->
	<!-- ***** Wellcome Area Content Start ***** -->
	<div class="welcome-content">
		<div class="container">
			<div class="row rtl-row">
				<div class="offset-lg-1 col-lg-6 col-md-12 align-self-center rtl-text">
					<h1>توسعه اپلیکیشن شما <br> از ایده تا اجرا</h1>
					<p>امروزه اپلیکیشن یک ابزار اطلاعاتی به حساب می آید. اگر تعداد مشخصی مشتری ثابت دارید. اگر به دنبال افراد وفادار به کسب و کار خود هستید. اگر خدماتی انحصاری ارایه میدهید. اگر قصد ساخت ابزاری کاربردی دارید و…</p>
					<a class="btn-white-line" asp-page="/OurWorks/Index">نمونه کارهای ما</a>
				</div>
				<vc:header-app-icons />
			</div>
		</div>
	</div>
	<!-- ***** Wellcome Area Content End ***** -->
</section>
<!-- ***** Wellcome Area End ***** -->
<!-- ***** Home About - Services Start ***** -->
<section class="section services-section pbottom-70">
	<div class="container">
		<div class="row rtl-row">
			<!-- ***** Home About Start ***** -->
			<div class="offset-lg-1 col-lg-5 col-md-12 col-sm-12 align-self-bottom rtl-text">
				<div class="left-heading">
					<h2 class="section-title">وب سایت یک ابزار تخصصی کسب و کار آنلاین است.</h2>
				</div>
				<div class="left-text">
					<p class="dark">طراحی اپلکیشن معمولا به چند انگیزه انجام می شود، بسته به این انگیزه ها، توسعه اپلیکیشن ها تعاریف متفاوتی می پذیرد.</p>
					<p>توسعه اپلیکیشن ها کاری بسیار تخصصی است. توسعه اپلیکیشن نیازمند دانش فنی، شناخت مارکت های اپلیکیشن (گوگل پلی، اپ استور، کافه بازار، سیبچه و…)، شناخت مخاطبین اپلیکیشن، مدیریت پروژه اپلیکیشن، مدیریت برند اپلیکیشن و… است.</p>
				</div>
				<a asp-page="/Services/Index" class="btn-primary-line">خدمات</a>
			</div>
			<!-- ***** Home About End ***** -->
			<!-- ***** Home Services Start ***** -->
			<div class="col-lg-6 col-md-12 col-sm-12 align-self-bottom">
				<div class="row rtl-row rtl-text">
					<vc:home-services />
				</div>
			</div>
			<!-- ***** Home Services End ***** -->
		</div>
	</div>
</section>
<!-- ***** Home About - Services Start ***** -->
<!-- ***** Features Start ***** -->
<section class="section background">
	<div class="container">
		<div class="row rtl-row">
			<div class="col-lg-5 col-md-12 align-self-center">
				<img src="/assets/images/mockup/home-mockup.png" class="img-fluid d-block mx-auto" alt="">
			</div>
			<div class="col-lg-7 col-md-12 align-self-center">
				<ul class="features rtl-text">
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
						<div class="count">
							<span>1</span>
						</div>
						<div class="text">
							<h5 class="title">عقد قرارداد با شما</h5>
							<p>
								پس از ثبت درخواست شما در فرم ارتباط با ما، تکنسین های سریعا با شما تماس گرفته و پس از مشاوره لازم، قرار داد لازم با شما بسته خواهد شد.
							</p>
						</div>
					</li>
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
						<div class="count">
							<span>2</span>
						</div>
						<div class="text">
							<h5 class="title">طراحی و ساخت اپلیکیشن</h5>
							<p>پس از عقد قرار داد اپلیکیشن شما طراحی و ساخت خواهد شد، و شما از تمامی مراحل آن آگاه خواهید بود.</p>
						</div>
					</li>
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
						<div class="count">
							<span>3</span>
						</div>
						<div class="text">
							<h5 class="title">آماده سازی و استقرار</h5>
							<p>
								پس از پایان طراحی و ساخت، اپلیکیشن شما وارد مرحله آماده سازی و استقرار میشود که با توجه به پلتفرم درخواستی شما، اپلیکیشن مستقر میشود.
							</p>
						</div>
					</li>
					<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.5s">
						<div class="count">
							<span>4</span>
						</div>
						<div class="text">
							<h5 class="title">حفظ و ارتقاع</h5>
							<p>
								پس از استقرار اپلیکیشن شما شامل گارانتی حفظ و ارتقاع مادام العمر خواد شد. و در صورت درخواست شما بخش های مورد نظر بروزرسانی میشوند.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- ***** Features End ***** -->
<!-- ***** Our Team Start ***** -->
<vc:our-team />
<!-- ***** Our Team End ***** -->
<!-- ***** Counter Parallax Start ***** -->
<vc:main-counter />
<!-- ***** Counter Parallax End ***** -->