@page "/ContactUs"
@model ContactUsModel
@{
    ViewBag.Title = "تماس با ما";
}
@section css
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}


@section PageTop
    {
    <div class="cover" data-image="/assets/images/photos/parallax.jpg">
        <div class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 rtl-text">
                        <h1>تماس با ما</h1>
                    </div>
                    <div class="col-lg-12">
                        <ol class="breadcrumb rtl-text">
                            <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                            <li class="active">تماس با ما</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="page-bottom">
    <div class="map-wrapper">
        <!-- ***** Google Maps Start ***** -->
        <div class="map-canvas"
             data-zoom="12"
             data-lat="38.076641"
             data-lng="46.323094"
             data-type="roadmap"
             data-hue="#ffc400"
             data-title="MahProgram"
             data-icon-path="/assets/images/marker.png"
             data-content="تبریز، خیابان هفت تیر، بیلانکوه غربی<br>کوچه حاج حسن آهنگر، پلاک 13<br><br><a href='mailto:support@mahprogram.com'>mailto:support@mahprogram.com</a>">
        </div>
        <!-- ***** Google Maps End ***** -->
        <!-- ***** Contact Informations Start ***** -->
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="contact-info">
                        <div class="item">
                            <i class="fa fa-location-arrow"></i>
                            <div class="txt">
                                <span>تبریز، خیابان هفت تیز، بیلانکوه غربی<br>کوچه حاج حسن آهنگر، پلاک 13</span>
                            </div>
                        </div>
                        <div class="item">
                            <i class="fa fa-phone"></i>
                            <div class="txt">
                                <span>(+98) 905-273-06-61<br>(+98) 905-388-18-48</span>
                            </div>
                        </div>
                        <div class="item">
                            <i class="fa fa-envelope"></i>
                            <div class="txt">
                                <span><a href="mailto:support@mahprogram.com">support@mahprogram.com</a></span>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Contact Informations End ***** -->
    </div>

    <div class="container">
        <div class="row">
            <!-- ***** Contact Text Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12 rtl-text">
                <h5 class="mbottom-30">در ارتباط باشید</h5>
                <div class="contact-text">
                    <p>شرکت ماه پروگرام همیشه ارزش خود را در رضایت مندی مشتریان یافته است</p>
                    <p>از این رو در کوتاه ترین زمان پس از ثبت تماس سعی بر برقراری ارتباط با شما خواهیم کرد.</p>
                </div>
            </div>
            <!-- ***** Contact Text End ***** -->
            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="contact-form rtl-text">
                    <form asp-page="/ContactUs" method="post">
                        @if (TempData["Success"] is not null)
                        {
                            <div class="alert alert-success">عملیات با موفقیت به اتمام رسید</div>
                        }
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input asp-for="ContactUs.Name" placeholder="نام">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input asp-for="ContactUs.Email" placeholder="ایمیل">
                            </div>
                            <div class="col-lg-12">
                                <textarea asp-for="ContactUs.Text" placeholder="پیام شما"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="g-recaptcha" data-sitekey="@GoogleRecaptchaKeys.SiteKey"></div>
                            </div>
                            <div class="col-lg-12 text-danger" asp-validation-summary="All"></div>
                            <div class="col-lg-12">
                                <button class="btn-primary-line" type="submit">ارسال</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</div>
<!-- ***** Page Content End ***** -->
@section script
    {
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBVWxC5WcAVYjCwGh6IqXsjKz26zyQOX2w"></script>
    <script src="assets/js/map-script.js"></script>
    <partial name="_ValidationPartial" />
    <script src="https://www.google.com/recaptcha/api.js?hl=fa&render=explicit" async defer ></script>
}